@model IEnumerable<AssignPartyModel>
<div class="container">

    <div class="main-heading-div">
        <label class="h2 main-heading ">Assign Party</label>
    </div>
    <div class="Add-btn-div">
        <a asp-controller="PartyAssign" asp-action="AddAssignParty" class="btn btn-block Add-btn">
            Add AssignParty
        </a>
    </div>
    <div class="Partytbl table-center">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Assign ID</th>
                    <th>Party Name</th>
                    <th>Product Name</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <th scope="row">@item.Id</th>
                        <td>@item.Party.partyName</td>
                        <td>@item.Product.productName</td>
                        <td>
                            <a data-value="@item.Id"
                               class="btn-outline-primary btn btn-primary" asp-action="UpdateAssignParty" asp-controller="PartyAssign" asp-route-id="@item.Id" asp-route-AssignPartyName="@item.PartyId" asp-route-ProductId="@item.ProductId">Edit</a>
                            <a data-value="@item.Id"
                               class="btn-danger btn btn-outline" asp-action="DelAassignParty" asp-controller="PartyAssign" asp-route-id="@item.Id" onclick="return confirm('sure...?')">delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


